* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p a,
p a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header a,
header a:visited {
    color: #ffffff;
    text-decoration: none;
}

header button {
    background-color: #ffff00;
    font-weight: bold;
    color: rgb(0, 0, 0);
    height: 30px;
    margin-bottom: 5px;
    border-radius: 15px;
}

header button:hover {
    background-color: #ffffff;
    color: rgb(9, 9, 9);
}

header h1 {
    color: rgb(255, 255, 255);
    font-size: clamp(15px, 20px, 25px);
    font-weight: bold;
    text-transform: capitalize;
}

.content-title-txt h5 {
    background-color: #ffff00;
    color: rgb(6, 6, 6);
    font-size: clamp(10px, 12px, 15px);
    font-weight: bold;
    animation: blink 2s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
        /* Le texte est visible au début et à la fin */
    }

    50% {
        opacity: 0;
        /* Le texte disparaît à mi-chemin */
    }
}

header {
    position: fixed;
    z-index: 9999;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 70%, rgba(0, 212, 255, 1) 100%);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.linkedin-icon {
    display: inline-block;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    color: rgb(247, 242, 242);
    transition: color 0.3s ease;
}

.linkedin-icon:hover {
    color: #ffff00;
}

.header-img-title {
    color: rgb(245, 242, 242);
    font-weight: bold;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
    position: relative;
    padding: 0 10px;
    background-image: url('img/header-background-binary.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
    gap: 30px;
}

.content-img {
    border-radius: 50%;
    max-width: 170px;
    max-height: 170px;
    min-width: 60px;
    min-height: 60px;
    width: calc(15vw + 50px);
    height: calc(15vw + 50px);
}

.content-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px rgb(255, 255, 255) solid;
}

.img-flag {
    width: 25%;
    height: 25%;
    object-fit: cover;
    border: 2px rgb(255, 255, 255) solid;
}

.content-title-txt {
    text-align: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 70%, rgba(0, 212, 255, 1) 100%);
}

.content-title-txt h1 {
    margin: 10px 0;
    padding: 0 20px;
}

.content-title-txt p {
    margin: 0;
    font-size: 1.2em;
}

.line-separator {
    height: 5px;
    background-color: rgb(255, 255, 255);
}

/* Styles du menu pour les écrans de bureau */
nav {
    height: 100%;
}

nav ul.nav-links {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

nav ul.nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.6);
    padding: 10px;
    background-color: rgb(211, 211, 211);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

nav ul.nav-links li:hover {
    background-color: #ffff00;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
    color: rgb(0, 0, 0);
}

nav ul.nav-links li:hover>a {
    color: rgb(0, 0, 0);
}

nav ul.nav-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* Styles du menu burger */
.burger-menu {
    display: none;
    width: 30px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.1s ease, background-color 0.2s ease;
}

/* Container */
.container {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    min-height: 80vh;
    padding: 10px 0;
    gap: 10px;
}

.section-title {
    margin-top: 36px;
}

.section-title p {
    color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 5px;
    margin: 0;
}

.section-title h2 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 70%, rgba(0, 212, 255, 1) 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
}

.section-title h3 {
    color: rgb(0, 0, 0);
    width: auto;
    text-align: center;
    text-decoration: underline;
    margin: 10px 0 0 0;
    ;
}

#column-left,
#column-right {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

#column-right {
    width: 65vw;
    background-color: rgb(211, 211, 211);
    border-radius: 15px 0 0 15px;
}

#column-left {
    width: 35vw;
    background-color: rgb(169, 169, 169);
    border-radius: 0 15px 15px 0;
}

s #experience div,
#formation div {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#experience div:last-child,
#formation div:last-child {
    margin-bottom: 0;
}

footer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 70%, rgba(0, 212, 255, 1) 100%);
    color: rgb(255, 255, 255);
}

.timeline-container-training {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeline-container-training-line {
    border-left: 5px solid rgb(8, 8, 8);
    Height: 660px;
    width: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

.timeline-container-training-item {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

.timeline-container-training-item p {
    padding-left: 40px;
    text-align: left;
    width: 100%;
}

.timeline-container-point {
    position: absolute;
    left: -5px;
}

.timeline-container-training-item h3 {
    /* position: absolute; */
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.timeline-training-point-item08 {
    top: 15px;
}

#timeline-training-item07 {
    top: 70px;
}

#timeline-training-item06 {
    top: 185px;
}

#timeline-training-item05 {
    top: 270px;
}

#timeline-training-item04 {
    top: 355px;
}

#timeline-training-item03 {
    top: 440px;
}

#timeline-training-item02 {
    top: 525px;
}

#timeline-training-item01 {
    top: 610px;
}

/* Styles pour mobile */
@media (max-width: 1300px) {
    .container {
        padding: 10px;
    }

    .content-title-txt h1 {
        font-size: 1.2em;
    }

    .content-title-txt p {
        font-size: 1em;
    }

    /* Afficher le bouton burger sur mobile et masquer le menu de navigation par défaut */
    .burger-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 5px;
    }

    /* Transformation du menu burger en croix */
    .burger-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        background-color: red;
    }

    .burger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        background-color: red;
    }

    /* Styles du menu pour mobile */
    nav ul.nav-links {
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100%;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 70%, rgba(0, 212, 255, 1) 100%);
        padding: 40px;
        border-radius: 0 0 0 10px;
        width: 200px;
        margin: 0;
        box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.6);
    }

    /* Afficher le menu lorsque la classe 'active' est ajoutée */
    nav ul.nav-links.active {
        display: flex;
    }

    .container {
        flex-direction: column-reverse;
    }

    #column-left,
    #column-right {
        min-height: 0;
        width: 100%;
        border-radius: 10px;
    }

    #column-left {
        background-color: lightgrey;
    }

    #footer {
        margin-bottom: 10px;
    }
}